[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
lxml = "==4.9.4"
pillow = "==10.3.0"
newspaper4k = "*"
scikit-learn = "*"
textblob = "*"
crispy-bootstrap5 = "*"
django-crispy-forms = "*"
joblib = "*"
transformers = "*"
sentencepiece = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.11"
